{{> popup/popup }}

<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>

<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
<script src="nav.js"></script>
<script src="%=static=%js/separate-js/validate.js"></script>