<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="aboutPage">
		<div class="wrapper">
			<div class="subtitle">О нас</div>
			<div class="row">
				<div class="aboutPage__left">
					<div class="aboutPage__img">
						<img src="%=static=%img/general/about-bg.png" alt="О нас">
					</div>
					<div class="aboutPage__txt">
						<h4>Цветы с доставкой на дом в интернет-магазине «Азбука цветов» – это гарантия, что букет будет доставлен вовремя и по низким ценам! Мы продаём флористические букеты, срезанные цветы, комнатные растения, декор и подарки. Доставим ваш заказ по Москве и Московской области.</h4>
						<p>Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. </p>
					</div>
					<div class="aboutPage__adv">
						<div class="swiper-container advant-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide advantages__item">
									<div class="advantages__image">
										{{Icon iconName="flower"}}
									</div>
									<div class="advantages__text">
										Забота <span>о каждом растении</span> 
									</div>
								</div>
								<div class="swiper-slide advantages__item">
									<div class="advantages__image">
										{{Icon iconName="camera"}}
									</div>
									<div class="advantages__text">
										Фото цветов <span>перед отправкой</span> 
									</div>
								</div>
								<div class="swiper-slide advantages__item">
									<div class="advantages__image">
										{{Icon iconName="free"}}
									</div>
									<div class="advantages__text">
										Бесплатная доставка <span>при заказе от 3 500 рублей</span> 
									</div>
								</div>
								<div class="swiper-slide advantages__item">
									<div class="advantages__image">
										{{Icon iconName="letter"}}
									</div>
									<div class="advantages__text">
										Бесплатная записка к букету <span>по вашему желанию</span> 
									</div>
								</div>
							</div>
							<div class="advant-pagination"></div>
						</div>
					</div>
					<div class="aboutPage__txt">
						<p>Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. </p>
						<p>Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. </p>
					</div>

					<div class="aboutPage__quote">
						<div class="quote">
							«
						</div>
						<div class="quote__text">Цветы с доставкой на дом в интернет-магазине «Азбука цветов» – это гарантия, что букет будет доставлен вовремя и по низким ценам! Мы продаём флористические букеты, срезанные цветы, комнатные растения, декор и подарки. Доставим ваш заказ по Москве и Московской области.</div>
					</div>
					
					<div class="aboutPage__txt">
						<p>Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. </p>
						<p>Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. </p>
					</div>

				</div>
				{{> banner/about-banner }}
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>