<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 
	
	<div class="artPage">
		<div class="wrapper">
			<div class="subtitle">
				Статьи
			</div>
			<div class="row">
				<div class="artPage__items">
					{{> card/article }}
					{{> card/article }}
					{{> card/article }}
					{{> card/article }}
					
					{{> pag/pag }}
				</div>
				{{> banner/banner }}
			</div>
		</div>

	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>