<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="cart">
		<div class="wrapper">
			<div class="subtitle">
				Оформление заказа
			</div>
			<form action="">
				<div class="cart__table">
					<div class="cart__head">
						<div class="cart-pic">Фото</div>
						<div class="cart-name">Наименование</div>
						<div class="cart-size">Размер</div>
						<div class="cart-price">Цена</div>
						<div class="cart-value">Количество</div>
						<div class="cart-total">Сумма</div>
						<div class="cart-remove">Удалить</div>
					</div>
					<div class="cart__body">
						<div class="cart-pic cart-img">
							<a href="#">
								<img src="%=static=%img/general/cart.png" alt="">
							</a>
						</div>
						<a href="#" class="cart-name cart-title">
							Дерево бонсай
						</a>
						<div class="cart-size cart-sel cart-mob" data-mob="Размер">
							<select class="select">
								<option value="1">15/10 см</option>
								<option value="2">15/20 см</option>
								<option value="3">15/30 см</option>
								<option value="4">15/40 см</option>
								<option value="5">15/50 см</option>
							</select>
						</div>
						<div class="cart-price cart--price cart-mob" data-mob="Цена">1 250 ₽</div>
						<div class="cart-value cart-mob" data-mob="Кол-во">
							{{> value/value}}
						</div>
						<div class="cart-total cart--total cart-mob" data-mob="Сумма">
							1 250 ₽
						</div>
						<div class="cart-remove">
							{{Icon iconName="remove"}}
						</div>
					</div>
					<div class="cart__body">
						<div class="cart-pic cart-img">
							<a href="#">
								<img src="%=static=%img/general/cart.png" alt="">
							</a>
						</div>
						<a href="#" class="cart-name cart-title">
							Дерево бонсай с каким-то длинным названием
						</a>
						<div class="cart-size cart-sel cart-mob" data-mob="Размер">
							<select class="select">
								<option value="1">15/10 см</option>
								<option value="2">15/20 см</option>
								<option value="3">15/30 см</option>
								<option value="4">15/40 см</option>
								<option value="5">15/50 см</option>
							</select>
						</div>
						<div class="cart-price cart--price cart-mob" data-mob="Цена">850 ₽</div>
						<div class="cart-value cart-mob" data-mob="Кол-во">
							{{> value/value}}
						</div>
						<div class="cart-total cart--total cart-mob" data-mob="Сумма">
							1 700 ₽
						</div>
						<div class="cart-remove">
							{{Icon iconName="remove"}}
						</div>
					</div>
					<div class="cart__body">
						<div class="cart-pic cart-img">
							<a href="#">
								<img src="%=static=%img/general/cart.png" alt="">
							</a>
						</div>
						<a href="#" class="cart-name cart-title">
							Дерево бонсай
						</a>
						<div class="cart-size cart-sel cart-mob" data-mob="Размер">
							<select class="select">
								<option value="1">15/10 см</option>
								<option value="2">15/20 см</option>
								<option value="3">15/30 см</option>
								<option value="4">15/40 см</option>
								<option value="5">15/50 см</option>
							</select>
						</div>
						<div class="cart-price cart--price cart-mob" data-mob="Цена">1 250 ₽</div>
						<div class="cart-value cart-mob" data-mob="Кол-во">
							{{> value/value}}
						</div>
						<div class="cart-total cart--total cart-mob" data-mob="Сумма">
							1 250 ₽
						</div>
						<div class="cart-remove">
							{{Icon iconName="remove"}}
						</div>
					</div>

					<div class="cart__result">
						<a href="#" class="back">«   Вернуться в каталог растений</a>
						<button class="submit">
							оформить заказ
						</button>
						<div class="cart__result-value">
							Итого: <span>4 200 ₽</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>