<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="catalog">
		<div class="wrapper">
			<div class="subtitle">
				Растения
			</div>

			<div class="catalog__items">
				<div class="catalog__filters">
					<form action="">
						<div class="catalog__name">
							Фильтр
							{{Icon iconName="d-arr"}}
						</div>

						<div class="filters__item ">
							<div class="filters__title">
								Цена
								{{Icon iconName="d-arr"}}
							</div>
							<div class="filters__content">
								<div class="filters__range">
									<input type="range" id="range" data-min="0" data-max="10000" data-from="200" data-to="5000">
								</div>
								<div class="filters__otdo">
									<div class="otdo">
										<span>от</span>
										<input type="text" id="from">
									</div>
									<div class="otdo">
										<span>до</span>
										<input type="text" id="to">
									</div>
								</div>
							</div>
						</div>

						<div class="filters__item ">
							<div class="filters__title">
								Расположение
								{{Icon iconName="d-arr"}}
							</div>
							<div class="filters__content">
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Ванная комната</span>
									<span class="filter--value">12</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Спальня</span>
									<span class="filter--value">7</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Балкон</span>
									<span class="filter--value">86</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Коридор</span>
									<span class="filter--value">0</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Кухня</span>
									<span class="filter--value">15</span>
								</label>
								<div class="filters-all">Показать все</div>
							</div>
						</div>

						<div class="filters__item">
							<div class="filters__title">
								Полив
								{{Icon iconName="d-arr"}}
							</div>
						</div>

						<div class="filters__item ">
							<div class="filters__title">
								Отношение к свету
								{{Icon iconName="d-arr"}}
							</div>
							<div class="filters__content">
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Тень</span>
									<span class="filter--value">96</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Полутень</span>
									<span class="filter--value">46</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Прямые солнечные лучи</span>
									<span class="filter--value">12</span>
								</label>
							</div>
						</div>

						<div class="filters__item filters__clr">
							<div class="filters__title">
								Окрас цветков
								{{Icon iconName="d-arr"}}
							</div>
							<div class="filters__content ">
								<div class="filters__colors">
									<label class="filters__color red">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
									<label class="filters__color orange">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
									<label class="filters__color yellow">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
									<label class="filters__color green">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
									<label class="filters__color blue">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
									<label class="filters__color darkblue">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
									<label class="filters__color purple">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
									<label class="filters__color violet">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
									<label class="filters__color white">
										<input type="checkbox">
										<span class="custom">
											{{Icon iconName="checked"}}
										</span>	
									</label>
								</div>
							</div>
						</div>

						<div class="filters__item ">
							<div class="filters__title">
								Страна
								{{Icon iconName="d-arr"}}
							</div>
							<div class="filters__content">
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Россия</span>
									<span class="filter--value">57</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Нидерланды</span>
									<span class="filter--value">12</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">США</span>
									<span class="filter--value">8</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Эквадор</span>
									<span class="filter--value">1</span>
								</label>
								<label class="filters__label">
									<input type="checkbox">
									<span class="custom">
										{{Icon iconName="checked"}}
									</span>
									<span class="filter--name">Италия</span>
									<span class="filter--value">0</span>
								</label>
								<div class="filters-all">Показать все</div>
							</div>
						</div>

						<div class="filters__btns">
							<button class="apply">Применить</button>
							<a href="#" class="clear">сбросить</a>
						</div>
					</form>

					<div class="tooltip">
						Найдено
						<span>145 товара</span>
					</div>
				</div>

				<div class="catalog__products">
					<div class="catalog__sort">
						<span>Сортировать по:</span>
						<a href="#" class="sort-link active">популярности</a>
						<a href="#" class="sort-link">цене</a>
						<a href="#" class="sort-link">наименованию</a>
					</div>
					<div class="catalog__check">
						<label class="catalog__label">
							<input type="checkbox" checked>
							<span class="catalog__span">
								<span class="custom">
									{{Icon iconName="checked"}}
								</span>
								<span class="catalog__lnk">
									Декоративно-лиственные
								</span>
							</span>
						</label>
						<label class="catalog__label">
							<input type="checkbox" checked>
							<span class="catalog__span">
								<span class="custom">
									{{Icon iconName="checked"}}
								</span>
								<span class="catalog__lnk">
									Цветущие
								</span>
							</span>
						</label>
						<label class="catalog__label">
							<input type="checkbox" checked>
							<span class="catalog__span">
								<span class="custom">
									{{Icon iconName="checked"}}
								</span>
								<span class="catalog__lnk">
									Орхидеи
								</span>
							</span>
						</label>
						<label class="catalog__label">
							<input type="checkbox" checked>
							<span class="catalog__span">
								<span class="custom">
									{{Icon iconName="checked"}}
								</span>
								<span class="catalog__lnk">
									Кактусы и суккуленты
								</span>
							</span>
						</label>
						<label class="catalog__label">
							<input type="checkbox" checked>
							<span class="catalog__span">
								<span class="custom">
									{{Icon iconName="checked"}}
								</span>
								<span class="catalog__lnk">
									Цитрусовые и плодовые
								</span>
							</span>
						</label>
						<label class="catalog__label">
							<input type="checkbox" checked>
							<span class="catalog__span">
								<span class="custom">
									{{Icon iconName="checked"}}
								</span>
								<span class="catalog__lnk">
									Пальмы
								</span>
							</span>
						</label>
						<label class="catalog__label">
							<input type="checkbox" checked>
							<span class="catalog__span">
								<span class="custom">
									{{Icon iconName="checked"}}
								</span>
								<span class="catalog__lnk">
									Крупномеры
								</span>
							</span>
						</label>
					</div>

					<div class="cards">
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
						{{> card/card-three }}
					</div>

					{{> pag/pag }}
				</div>

			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>