<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="comparison">
		<div class="wrapper">
			<div class="subtitle">Сравнение товаров</div>

			<div class="comparison__items">
				<div class="comparison__left">
					<div class="comparison__head">
						<label class="comparison__label">
							<input type="checkbox">
							<span class="custom">
								{{Icon iconName="checked"}}
							</span>
							<span class="comparison--text">
								Показать только различающиемя параметры
							</span>
						</label>
					</div>
					<div class="comparison__left-items">
						<div class="comparison__left-item">Цена</div>
						<div class="comparison__left-item">Полив</div>
						<div class="comparison__left-item">Страна</div>
						<div class="comparison__left-item">Освещение</div>
						<div class="comparison__left-item">Влажность воздуха</div>
					</div>
				</div>

				<div class="comparison__right">
					<div class="swiper-container comparison-container">
						<div class="swiper-pagination"></div>
						<div class="swiper-wrapper">
							<div class="comparison__elem swiper-slide">
								<div class="comparison__elem-head">
									<div class="comparison__img">
										<a href="#">
											<img src="%=static=%img/general/card.png" alt="">
										</a>
									</div>
									<a href="#" class="comparison__title">
										Лилии желтые
									</a>
									<a href="#" class="comparison__del">
										Удалить
									</a>
								</div>
								<div class="comparison__elem-items">
									<div class="comparison__elem-item bold">850 ₽</div>
									<div class="comparison__elem-item">умеренный</div>
									<div class="comparison__elem-item">Россия</div>
									<div class="comparison__elem-item">полутень</div>
									<div class="comparison__elem-item">высокая</div>
								</div>
							</div>
							<div class="comparison__elem swiper-slide">
								<div class="comparison__elem-head">
									<div class="comparison__img">
										<a href="#">
											<img src="%=static=%img/general/card.png" alt="">
										</a>
									</div>
									<a href="#" class="comparison__title">
										Лилии желтые, сорт «Валенсия»
									</a>
									<a href="#" class="comparison__del">
										Удалить
									</a>
								</div>
								<div class="comparison__elem-items">
									<div class="comparison__elem-item bold">1 000 ₽</div>
									<div class="comparison__elem-item">редкий</div>
									<div class="comparison__elem-item">США</div>
									<div class="comparison__elem-item">тень</div>
									<div class="comparison__elem-item">низкая</div>
								</div>
							</div>
							<div class="comparison__elem swiper-slide">
								<div class="comparison__elem-head">
									<div class="comparison__img">
										<a href="#">
											<img src="%=static=%img/general/card.png" alt="">
										</a>
									</div>
									<a href="#" class="comparison__title">
										Лилии желтые
									</a>
									<a href="#" class="comparison__del">
										Удалить
									</a>
								</div>
								<div class="comparison__elem-items">
									<div class="comparison__elem-item bold">850 ₽</div>
									<div class="comparison__elem-item">умеренный</div>
									<div class="comparison__elem-item">Россия</div>
									<div class="comparison__elem-item">полутень</div>
									<div class="comparison__elem-item">высокая</div>
								</div>
							</div>
							<div class="comparison__elem swiper-slide">
								<div class="comparison__elem-head">
									<div class="comparison__img">
										<a href="#">
											<img src="%=static=%img/general/card.png" alt="">
										</a>
									</div>
									<a href="#" class="comparison__title">
										Лилии желтые, сорт «Валенсия»
									</a>
									<a href="#" class="comparison__del">
										Удалить
									</a>
								</div>
								<div class="comparison__elem-items">
									<div class="comparison__elem-item bold">1 000 ₽</div>
									<div class="comparison__elem-item">редкий</div>
									<div class="comparison__elem-item">США</div>
									<div class="comparison__elem-item">тень</div>
									<div class="comparison__elem-item">низкая</div>
								</div>
							</div>
							<div class="comparison__elem swiper-slide">
								<div class="comparison__elem-head">
									<div class="comparison__img">
										<a href="#">
											<img src="%=static=%img/general/card.png" alt="">
										</a>
									</div>
									<a href="#" class="comparison__title">
										Лилии желтые
									</a>
									<a href="#" class="comparison__del">
										Удалить
									</a>
								</div>
								<div class="comparison__elem-items">
									<div class="comparison__elem-item bold">850 ₽</div>
									<div class="comparison__elem-item">умеренный</div>
									<div class="comparison__elem-item">Россия</div>
									<div class="comparison__elem-item">полутень</div>
									<div class="comparison__elem-item">высокая</div>
								</div>
							</div>
							<div class="comparison__elem swiper-slide">
								<div class="comparison__elem-head">
									<div class="comparison__img">
										<a href="#">
											<img src="%=static=%img/general/card.png" alt="">
										</a>
									</div>
									<a href="#" class="comparison__title">
										Лилии желтые
									</a>
									<a href="#" class="comparison__del">
										Удалить
									</a>
								</div>
								<div class="comparison__elem-items">
									<div class="comparison__elem-item bold">850 ₽</div>
									<div class="comparison__elem-item">умеренный</div>
									<div class="comparison__elem-item">Россия</div>
									<div class="comparison__elem-item">полутень</div>
									<div class="comparison__elem-item">высокая</div>
								</div>
							</div>
							<div class="comparison__elem swiper-slide">
								<div class="comparison__elem-head">
									<div class="comparison__img">
										<a href="#">
											<img src="%=static=%img/general/card.png" alt="">
										</a>
									</div>
									<a href="#" class="comparison__title">
										Лилии желтые
									</a>
									<a href="#" class="comparison__del">
										Удалить
									</a>
								</div>
								<div class="comparison__elem-items">
									<div class="comparison__elem-item bold">850 ₽</div>
									<div class="comparison__elem-item">умеренный</div>
									<div class="comparison__elem-item">Россия</div>
									<div class="comparison__elem-item">полутень</div>
									<div class="comparison__elem-item">высокая</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>