<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="contacts">
		<div class="wrapper">
			<div class="subtitle">
				Контакты
			</div>
			<div class="contacts__items">
				<div class="contacts__left">
					<div class="contacts__item">
						<div class="contacts__name">Телефоны</div>
						<div class="contacts__phones">
							<a href="#" class="contacts__phone">
								{{Icon iconName="phone"}}
								8 (495) 777-77-77
							</a>
							<a href="#" class="contacts__phone">
								{{Icon iconName="whatsapp"}}
								8 (495) 777-77-77
							</a>
						</div>
					</div>
					<div class="contacts__item">
						<div class="contacts__name">Адрес</div>
						<div class="contacts__address">
							{{Icon iconName="pin"}}
							Москва, Чкаловская 17/5,
							стр.5, оф. 502
						</div>
					</div>
					<div class="contacts__item">
						<div class="contacts__name">Режим работы</div>
						<div class="contacts__address">
							{{Icon iconName="clock"}}
							с 8:00 до 21:00
						</div>
					</div>
					<div class="contacts__item">
						<div class="contacts__name">E-mail</div>
						<div class="contacts__address">
							{{Icon iconName="envelope"}}
							<a href="mailto:Info@azbukaflower.ru" class="mail">Info@azbukaflower.ru</a>
						</div>
					</div>
				</div>
				<div class="contacts__right">
					<div id="map" class="map" data-icon-url="static/img/general/map.png" data-lng="55.891751" data-lat="37.575379" data-zoom="14">
					</div>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}
	<script src="https://api-maps.yandex.ru/2.1/?apikey=8310f71a-5af5-4a9d-ac8c-bfec5b227ef3&lang=ru_RU" type="text/javascript">
	</script>
	{{> bottom/bottom }}
</body>

</html>