<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 
	
	<div class="fav">
		<div class="wrapper">
			<div class="subtitle">
				Избранное
			</div>
			<div class="cards">
				{{> card/card-fav }}
				{{> card/card-fav }}
				{{> card/card-fav }}
				{{> card/card-fav }}
				{{> card/card-fav }}
				{{> card/card-fav }}
				{{> card/card-fav }}
				{{> card/card-fav }}
				{{> card/card-fav }}
				{{> card/card-fav }}
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>