<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="finish">
		<div class="wrapper">
			<div class="subtitle">Ваш заказ принят!</div>

			<div class="finish-done">
				<img src="%=static=%img/general/finish.png" alt="">
				<div class="finish-info">
					<p>Наш менеджер свяжется с вами в самое ближайшее время для обсуждения всех деталей</p>
					<div class="line"></div>
					<div class="finish-num">
						Номер вашего заказа <span>12345678</span>
					</div>
					<a href="#" class="to-catalog">
						в каталог растений
					</a>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>