<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<main class="main">
		<div class="swiper-container main-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide main-slide">
					<div class="main-slide-image">
						<img src="%=static=%/img/general/main.png" alt="main">
					</div>
					<div class="main-slide-block">
						<div class="wrapper">
							<div class="main-block">
								<div class="main-title">Большой выбор комнатных растений</div>
								<a href="#" class="main-btn">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide main-slide">
					<div class="main-slide-image">
						<img src="%=static=%/img/general/main.png" alt="main">
					</div>
					<div class="main-slide-block">
						<div class="wrapper">
							<div class="main-block">
								<div class="main-title">Большой выбор комнатных растений</div>
								<a href="#" class="main-btn">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide main-slide">
					<div class="main-slide-image">
						<img src="%=static=%/img/general/main.png" alt="main">
					</div>
					<div class="main-slide-block">
						<div class="wrapper">
							<div class="main-block">
								<div class="main-title">Большой выбор комнатных растений</div>
								<a href="#" class="main-btn">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main-pagination"></div>
		</div>
	</main>

	<div class="advantages">
		<div class="wrapper">
			<div class="advantages__items">
				<div class="advantages__item">
					<div class="advantages__image">
						{{Icon iconName="flower"}}
					</div>
					<div class="advantages__text">
						Забота <span>о каждом растении</span> 
					</div>
				</div>
				<div class="advantages__item">
					<div class="advantages__image">
						{{Icon iconName="camera"}}
					</div>
					<div class="advantages__text">
						Фото цветов <span>перед отправкой</span> 
					</div>
				</div>
				<div class="advantages__item">
					<div class="advantages__image">
						{{Icon iconName="free"}}
					</div>
					<div class="advantages__text">
						Бесплатная доставка <span>при заказе от 3 500 рублей</span> 
					</div>
				</div>
				<div class="advantages__item">
					<div class="advantages__image">
						{{Icon iconName="letter"}}
					</div>
					<div class="advantages__text">
						Бесплатная записка к букету <span>по вашему желанию</span> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="heat">
		<div class="wrapper">
			<div class="title">
				<h3>Хиты продаж</h3>

				<div class="slider-btns">
					<div class="slider-btn slider-prev heat-prev">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn slider-next heat-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
			<div class="cards">
				<div class="swiper-container heat-container">
					<div class="swiper-wrapper"> 
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
					</div>
				</div>
			</div>
		</div>

		<div class="leaf leaf-left">
			<img src="%=static=%img/general/left-leaf.png" alt="leaf">
		</div>
		<div class="leaf leaf-right">
			<img src="%=static=%img/general/right-leaf.png" alt="leaf">
		</div>

		<!-- <img src="%=static=%img/general/list.png" alt="parallax" class="list list1" data-speed="-2"> -->
	</section>

	<section class="action">
		<div class="wrapper">
			<div class="title">
				<h3>Акции</h3>

				
				<div class="slider-btns">
					<div class="slider-btn slider-prev action-prev">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn slider-next action-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
			<div class="cards">
				<div class="swiper-container action-container">
					<div class="swiper-wrapper">
						{{> card/card-two }}
						{{> card/card-two }}
						{{> card/card-two }}
						{{> card/card-two }}
						{{> card/card-two }}
						{{> card/card-two }}
						{{> card/card-two }}
						{{> card/card-two }}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="articles">
		<div class="wrapper">
			<div class="title">
				<h3>Статьи</h3>
			</div>
			<div class="articles__items">
				<div class="articles__big" style="">
					<div class="articles__hidden">
						<div class="date">27.01.2020</div>
						<a href="#" class="name">Какой подарок подарить в международный женский день жене и дочери</a>
						<div class="desc">8 Марта – любимый праздник флористов. Продажи цветов зашкаливают, городские улицы расцветают мимозами и тюльпанами в руках мужчин, в метро витает аромат лилий и роз...</div>
						<a href="#" class="full">
							{{Icon iconName="arrow"}}
						</a>
					</div>
				</div>

				<div class="articles__center">
					<div class="date">27.01.2020</div>
					<a href="#" class="name">Какой подарок подарить в международный женский день жене</a>
					<div class="desc">8 Марта – любимый праздник флористов. Продажи цветов зашкаливают, городские улицы расцветают мимозами и тюльпанами в руках мужчин, в метро витает аромат. Продажи цветов зашкаливают, городские улицы расцветают мимозами и тюльпанами ...</div>
					<div class="articles__center-image">
						<img src="%=static=%img/general/articles/2.png" alt="">
					</div>
				</div>

				<div class="articles__right">
					<div class="articles__right-image">
						<img src="%=static=%img/general/articles/3.png" alt="">
					</div>
					<div class="date">27.01.2020</div>
					<a href="#" class="name">Какой букет подарить на 8 марта?</a>
					<div class="desc">8 Марта – любимый праздник флористов. Продажи цветов зашкаливают, городские улицы расцветают мимозами и тюльпанами в руках мужчин, в метро витает аромат лилий ...</div>
				</div>

			</div>
		</div>
	</section>

	<section class="instagramm">
		<div class="wrapper">
			<div class="title">
				<h3>
					Мы в Instagram	
				</h3>

				<div class="slider__btns">
					<div class="slider-btn slider-prev insta-prev">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn slider-next insta-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>

			<div class="instagramm__items">
				<div class="swiper-container insta-container">
					<div class="instagramm__items swiper-wrapper">
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/1.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/1.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/2.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/2.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/3.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/3.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/4.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/4.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/5.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/5.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/4.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/4.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/5.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/5.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/6.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/6.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/3.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/3.png" alt="Instagram">
							</a>
						</div>
						<div class="swiper-slide instagramm__item">
							<a href="%=static=%img/general/insta/2.png" data-fancybox="gallery">
								<img src="%=static=%img/general/insta/2.png" alt="Instagram">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="about">
		<div class="wrapper">
			<div class="title">
				<h3>О нашем магазине</h3>
			</div>
			<div class="about__content">
				<div class="about__image">
					<img src="%=static=%img/general/about.png" alt="">
				</div>
				<div class="about__text">
					<h4>Цветы с доставкой на дом в интернет-магазине «Азбука цветов» – это гарантия, что букет будет доставлен вовремя и по низким ценам! Мы продаём флористические букеты, срезанные цветы, комнатные растения, декор и подарки. Доставим ваш заказ по Москве и Московской области.</h4>
					<p>Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. </p>

					<a href="#" class="more">
						Подробнее
					</a>

					<div class="up" id="up">
						{{Icon iconName="arrow-down"}}
					</div>
				</div>
			</div>
		</div>
	</section>


	{{>footer/footer}}

	{{> bottom/bottom }}

</body>

</html>