<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="lk">
		<div class="wrapper">
			<div class="subtitle">
				Личный кабинет
			</div>

			<div class="lk__row">
				<div class="lk__items">
					<div class="lk__nav">
						<a href="lk-order.html" class="lk-link active">Мои заказы</a>
						<a href="lk-settings.html" class="lk-link">Настройки профиля</a>
						<a href="cart.html" class="lk-link">Корзина</a>
					</div>
					<div class="lk__orders">
						<div class="lk__head">
							<div class="lk-col">Дата</div>
							<div class="lk-col">Номер заказа</div>
							<div class="lk-col">Сумма</div>
							<div class="lk-col"></div>
						</div>
						<div class="lk__item">
							<div class="lk__body">
								<div class="lk-col">20.04.2020</div>
								<div class="lk-col lk-num">1234567</div>
								<div class="lk-col lk-price">800 ₽</div>
								<div class="lk-col lk-show">
									<span class="open">развернуть</span>
									<span class="hide">свернуть</span>
									{{Icon iconName="d-arr"}}
								</div>
							</div>
						</div>
						<div class="lk__item">
							<div class="lk__body">
								<div class="lk-col">15.03.2020</div>
								<div class="lk-col lk-num">645678</div>
								<div class="lk-col lk-price">4 200 ₽</div>
								<div class="lk-col lk-show">
									<span class="open">развернуть</span>
									<span class="hide">свернуть</span>
									{{Icon iconName="d-arr"}}
								</div>
							</div>
							<div class="lk-opened">
								<div class="lk-opened__head">
									<div class="lk-opened__head-pic">Фото</div>
									<div class="lk-opened__head-name">Наименование</div>
									<div class="lk-opened__head-size">Размер</div>
									<div class="lk-opened__head-price">Цена</div>
									<div class="lk-opened__head-value">Кол-во</div>
									<div class="lk-opened__head-total">Сумма</div>
								</div>
								<div class="lk-opened__body">
									<div class="lk-opened__body-pic">
										<img src="%=static=%img/general/order.png" alt="">
									</div>
									<a href="#" class="lk-opened__body-name">
										Дерево бонсай
									</a>
									<div class="lk-opened__body-size lk-mob" data-name="Размер">15/40 см</div>
									<div class="lk-opened__body-price lk-mob" data-name="Цена">1 250 ₽</div>
									<div class="lk-opened__body-value lk-mob" data-name="Кол-во">1 шт.</div>
									<div class="lk-opened__body-total lk-mob" data-name="Сумма">1 250 ₽</div>
								</div>
								<div class="lk-opened__body">
									<div class="lk-opened__body-pic">
										<img src="%=static=%img/general/order.png" alt="">
									</div>
									<a href="#" class="lk-opened__body-name">
										Дерево бонсай с каким-то
										длинным названием
									</a>
									<div class="lk-opened__body-size lk-mob" data-name="Размер">15/40 см</div>
									<div class="lk-opened__body-price lk-mob" data-name="Цена">850 ₽</div>
									<div class="lk-opened__body-value lk-mob" data-name="Кол-во">2 шт.</div>
									<div class="lk-opened__body-total lk-mob" data-name="Сумма">1 700 ₽</div>
								</div>
								<div class="lk-opened__body">
									<div class="lk-opened__body-pic">
										<img src="%=static=%img/general/order.png" alt="">
									</div>
									<a href="#" class="lk-opened__body-name">
										Дерево бонсай
									</a>
									<div class="lk-opened__body-size lk-mob" data-name="Размер">15/40 см</div>
									<div class="lk-opened__body-price lk-mob" data-name="Цена">1 250 ₽</div>
									<div class="lk-opened__body-value lk-mob" data-name="Кол-во">1 шт.</div>
									<div class="lk-opened__body-total lk-mob" data-name="Сумма">1 250 ₽</div>
								</div>
							</div>
						</div>
						<div class="lk__item">
							<div class="lk__body">
								<div class="lk-col">03.02.2020</div>
								<div class="lk-col lk-num">765444</div>
								<div class="lk-col lk-price">1 500 ₽</div>
								<div class="lk-col lk-show">
									<span class="open">развернуть</span>
									<span class="hide">свернуть</span>
									{{Icon iconName="d-arr"}}
								</div>
							</div>
						</div>
						<div class="lk__item">
							<div class="lk__body">
								<div class="lk-col">16.12.2019</div>
								<div class="lk-col lk-num">766448</div>
								<div class="lk-col lk-price">10 400 ₽</div>
								<div class="lk-col lk-show">
									<span class="open">развернуть</span>
									<span class="hide">свернуть</span>
									{{Icon iconName="d-arr"}}
								</div>
							</div>
						</div>
						<div class="lk__item">
							<div class="lk__body">
								<div class="lk-col">16.12.2019</div>
								<div class="lk-col lk-num">766448</div>
								<div class="lk-col lk-price">10 400 ₽</div>
								<div class="lk-col lk-show">
									<span class="open">развернуть</span>
									<span class="hide">свернуть</span>
									{{Icon iconName="d-arr"}}
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="lk__slider">
					<div class="lk__slider-title">
						Рекомендации для вас

						<div class="slider-btns">
							<div class="slider-btn lk-prev">
								{{Icon iconName="arrow"}}
							</div>
							<div class="slider-btn lk-next">
								{{Icon iconName="arrow"}}
							</div>
						</div>
					</div>
					<div class="swiper-container lk-container">
						<div class="swiper-wrapper">
							{{> card/card}}
							{{> card/card}}
							{{> card/card}}
							{{> card/card}}
							{{> card/card}}
							{{> card/card}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>