<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="lk">
		<div class="wrapper">
			<div class="subtitle">
				Личный кабинет
			</div>

			<div class="lk__row">
				<div class="lk__nav">
					<a href="lk-settings.html" class="lk-link active">Настройки профиля</a>
					<a href="lk-order.html" class="lk-link">Мои заказы</a>
					<a href="cart.html" class="lk-link">Корзина</a>
				</div>
			</div>

			<form class="lk__settings">

				<div class="lk__settings-item ldata">
					<div class="lk__settings-title">Личные данные</div>
					<div class="lk__wrap">
						<label class="lk__label">
							<span>Фамилия</span>
							<input type="text" class="lk__input">
						</label>
						<label class="lk__label">
							<span>Имя</span>
							<input type="text" class="lk__input">
						</label>
						<label class="lk__label">
							<span>Отчество</span>
							<input type="text" class="lk__input">
						</label>
						<label class="lk__label">
							<span>E-mail</span>
							<input type="text" class="lk__input">
						</label>
						<label class="lk__label solo-phone">
							<span>
								Телефон
								{{Icon iconName="edit"}}
							</span>
							<input type="text" class="lk__input">
						</label>
						<div class="add phone-add" id="phone-add">+ добавить еще один телефон</div>
					</div>
				</div>

				<div class="lk__settings-item address">
					<div class="lk__settings-title">
						Адрес
						<div class="edit">
							{{Icon iconName="edit"}}
						</div>
					</div>
					<div class="lk__wrap">
						<label class="lk__label lk__address">
							<span>Регион</span>
							<input type="text" class="lk__input">
						</label>
						<label class="lk__label lk__address">
							<span>Населенный пункт</span>
							<input type="text" class="lk__input">
						</label>
						<label class="lk__label lk__address">
							<span>Улица</span>
							<input type="text" class="lk__input">
						</label>
					</div>

					<div class="lk__home">
						<label class="lk__label lk__home-label">
							<span>Дом</span>
							<input type="text" class="lk__input number">
						</label>
						<label class="lk__label lk__home-label">
							<span>Корпус</span>
							<input type="text" class="lk__input number">
						</label>
						<label class="lk__label lk__home-label">
							<span>Строение</span>
							<input type="text" class="lk__input number">
						</label>
						<label class="lk__label lk__home-label">
							<span>Квартира</span>
							<input type="text" class="lk__input number">
						</label>
						<div class="add add-address">+ добавить еще один адрес</div>
					</div>
				</div>

				<div class="lk__settings-item">
					<div class="lk__settings-title">Сменить пароль</div>
					<div class="lk__wrap">
						<label class="lk__label">
							<span>Старый пароль</span>
							<input type="text" class="lk__input">
						</label>
						<label class="lk__label">
							<span>Новый пароль</span>
							<input type="text" class="lk__input">
						</label>
						<label class="lk__label">
							<span>Повторите новый пароль</span>
							<input type="text" class="lk__input">
						</label>
					</div>
				</div>

				<div class="lk__settings-item">
					<button class="btn">сохранить</button>
				</div>

			</form>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>