<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="news">
		<div class="wrapper">
			<div class="thirdtitle">
				Новости
			</div>
			<div class="row">
				<div class="news__items">
					<div class="news__item">
						<div class="date">27.01.2020</div>
						<a href="#" class="news__title">
							Как выбрать правильные цветы для солнечной стороны квартиры
						</a>
						<div class="news__desc">
							Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. 
						</div>
						<div class="tags">
							<a href="#" class="tag">растения</a>
							<a href="#" class="tag">как ухаживать</a>
							<a href="#" class="tag">суккуленты</a>
							<a href="#" class="tag">декоративные</a>
						</div>
					</div>
					<div class="news__item">
						<div class="date">27.01.2020</div>
						<a href="#" class="news__title">
							Новые цвета в разделе орхидей
						</a>
						<div class="news__desc">
							Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. 
						</div>
						<div class="tags">
							<a href="#" class="tag">растения</a>
							<a href="#" class="tag">как ухаживать</a>
							<a href="#" class="tag">суккуленты</a>
							<a href="#" class="tag">декоративные</a>
						</div>
					</div>
					<div class="news__item">
						<div class="date">27.01.2020</div>
						<a href="#" class="news__title">
							Как выбрать правильные цветы для солнечной стороны квартиры
						</a>
						<div class="news__desc">
							Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. 
						</div>
						<div class="tags">
							<a href="#" class="tag">растения</a>
							<a href="#" class="tag">как ухаживать</a>
							<a href="#" class="tag">суккуленты</a>
							<a href="#" class="tag">декоративные</a>
						</div>
					</div>
					<div class="news__item">
						<div class="date">27.01.2020</div>
						<a href="#" class="news__title">
							Новые цвета в разделе орхидей
						</a>
						<div class="news__desc">
							Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. 
						</div>
						<div class="tags">
							<a href="#" class="tag">растения</a>
							<a href="#" class="tag">как ухаживать</a>
							<a href="#" class="tag">суккуленты</a>
							<a href="#" class="tag">декоративные</a>
						</div>
					</div>
					<div class="news__item">
						<div class="date">27.01.2020</div>
						<a href="#" class="news__title">
							Как выбрать правильные цветы для солнечной стороны квартиры
						</a>
						<div class="news__desc">
							Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. 
						</div>
						<div class="tags">
							<a href="#" class="tag">растения</a>
							<a href="#" class="tag">как ухаживать</a>
							<a href="#" class="tag">суккуленты</a>
							<a href="#" class="tag">декоративные</a>
						</div>
					</div>
					<div class="news__item">
						<div class="date">27.01.2020</div>
						<a href="#" class="news__title">
							Новые цвета в разделе орхидей
						</a>
						<div class="news__desc">
							Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. 
						</div>
						<div class="tags">
							<a href="#" class="tag">растения</a>
							<a href="#" class="tag">как ухаживать</a>
							<a href="#" class="tag">суккуленты</a>
							<a href="#" class="tag">декоративные</a>
						</div>
					</div>
					<div class="news__item">
						<div class="date">27.01.2020</div>
						<a href="#" class="news__title">
							Как выбрать правильные цветы для солнечной стороны квартиры
						</a>
						<div class="news__desc">
							Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. 
						</div>
						<div class="tags">
							<a href="#" class="tag">растения</a>
							<a href="#" class="tag">как ухаживать</a>
							<a href="#" class="tag">суккуленты</a>
							<a href="#" class="tag">декоративные</a>
						</div>
					</div>
					<div class="news__item">
						<div class="date">27.01.2020</div>
						<a href="#" class="news__title">
							Новые цвета в разделе орхидей
						</a>
						<div class="news__desc">
							Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его вам домой или по указанному адресу. 
						</div>
						<div class="tags">
							<a href="#" class="tag">растения</a>
							<a href="#" class="tag">как ухаживать</a>
							<a href="#" class="tag">суккуленты</a>
							<a href="#" class="tag">декоративные</a>
						</div>
					</div>

					{{> pag/pag }}
				</div>
				{{> banner/banner }}
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>