<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="order">
		<div class="wrapper">
			<div class="subtitle">Оформление заказа</div>
			<div class="order__info">
				<div class="order__text">
					<span>3 товара</span> на сумму <span>4 200 ₽</span>
				</div>
				<a href="#" class="order__link">Вернуться в корзину</a>
				<a href="#" class="order__reg" data-popup-open="popup__join">
					{{Icon iconName="enter"}}
					<span>Войти в аккаунт</span>
				</a>
			</div>
			
			<form action="">
				<div class="order__data">
					<div class="lk__settings-item">
						<div class="lk__settings-title">Личные данные</div>
						<div class="lk__wrap">
							<label class="lk__label">
								<span>Фамилия <span>*</span></span>
								<input type="text" class="lk__input">
							</label>
							<label class="lk__label">
								<span>Имя <span>*</span></span>
								<input type="text" class="lk__input">
							</label>
							<label class="lk__label">
								<span>Отчество <span>*</span></span>
								<input type="text" class="lk__input">
							</label>
							<label class="lk__label">
								<span>E-mail <span>*</span></span>
								<input type="text" class="lk__input">
							</label>
							<label class="lk__label solo-phone">
								<span>
									Телефон <span>*</span>
								</span>
								<input type="text" class="lk__input">
							</label>
						</div>
					</div>
					<div class="lk__settings-item">
						<div class="order__data-title">
							<span>Адрес</span>
						</div>

						<div class="order__tab active">
							<div class="lk__wrap">
								<label class="lk__label lk__address">
									<span>Регион <span>*</span></span>
									<input type="text" class="lk__input">
								</label>
								<label class="lk__label lk__address">
									<span>Населенный пункт <span>*</span></span>
									<input type="text" class="lk__input">
								</label>
								<label class="lk__label lk__address">
									<span>Улица </span>
									<input type="text" class="lk__input">
								</label>
							</div>

							<div class="lk__home">
								<label class="lk__label lk__home-label">
									<span>Дом <span>*</span></span>
									<input type="text" class="lk__input number">
								</label>
								<label class="lk__label lk__home-label">
									<span>Корпус</span>
									<input type="text" class="lk__input number">
								</label>
								<label class="lk__label lk__home-label">
									<span>Строение</span>
									<input type="text" class="lk__input number">
								</label>
								<label class="lk__label lk__home-label">
									<span>Квартира</span>
									<input type="text" class="lk__input number">
								</label>
							</div>
						</div>

					</div>

					<div class="lk__settings-item">
						<div class="lk__settings-title">Выберите способ доставки</div>
						<div class="lk__wrap">
							<label class="label-del">
								<input type="radio" name="del">
								<span class="item-del">
									<span class="item-del-title">
										Курьером по Москве и Московской области
									</span>
									<span class="item-del-desc">
										450 ₽ в пределах МКАД, 30 ₽/км за пределами МКАД
									</span>
								</span>
							</label>
							<label class="label-del">
								<input type="radio" name="del">
								<span class="item-del">
									<span class="item-del-title">
										Транспортной компанией по России
									</span>
									<span class="item-del-desc">
										Цены по тарифам ТК. Тарифы уточняйте у наших менеджеров
									</span>
								</span>
							</label>
						</div>
					</div>

					<div class="lk__settings-item">
						<div class="lk__settings-title">Выберите способ оплаты</div>
						<div class="lk__wrap">
							<label class="label-payment">
								<input type="radio" name="payment">
								<span class="item-payment">
									<span class="item-payment-title">
										Наличные курьеру
									</span>
								</span>
							</label>
							<label class="label-payment">
								<input type="radio" name="payment">
								<span class="item-payment">
									<span class="item-payment-title">
										Безналичный расчет для юридических лиц
									</span>
								</span>
							</label>
						</div>
					</div>

					<div class="lk__settings-item pb42">
						<div class="lk__settings-title">Комментарий к заказу</div>
						<div class="lk__wrap">
							<textarea class="order__textarea"></textarea>
						</div>
					</div>
				</div>

				<div class="order__footer">
					<div class="order__footer-left">
						<div class="order__conf">Нажимая кнопку «ОФОРМИТЬ ЗАКАЗ» вы принимаете <a href="#">политику конфиденциальности</a></div>	
						<div class="order__req"><span>*</span> — обязательно для заполнения</div>
					</div>
					<div class="order__footer-center">
						<button class="btn">оформить заказ</button>
					</div>
					<div class="order__footer-right">
						<div class="order__row">
							<div class="order__name">Сумма:</div>
							<div class="order__value">4 200 ₽</div>
						</div>
						<div class="order__row">
							<div class="order__name">Доставка:</div>
							<div class="order__value">550 ₽</div>
						</div>
						<div class="order__row">
							<div class="order__name bold">Итого:</div>
							<div class="order__value bold">4 750 ₽</div>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>