<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="product">
		<div class="wrapper">
			<div class="subtitle">Дерево бонсай</div>
			<div class="row">
				<div class="product__left">
					<div class="product__top">
						<div class="product__images">
							<div class="product__big">
								<img src="%=static=%img/general/product/1.png" alt="Продукт">
							</div>
							<div class="product__thumbs">
								<div class="product__thumb active">
									<img src="%=static=%img/general/product/1.png" alt="Продукт">
								</div>
								<div class="product__thumb">
									<img src="%=static=%img/general/product/2.png" alt="Продукт">
								</div>
								<div class="product__thumb">
									<img src="%=static=%img/general/product/3.png" alt="Продукт">
								</div>
								<div class="product__thumb">
									<img src="%=static=%img/general/product/4.png" alt="Продукт">
								</div>
							</div>
						</div>
						<form action="" class="product__form">
							<div class="product__form-txt">Выберите размер растения (диаметр кашпо / высота растения с горшком) :</div>
							<div class="product__form-labels">
								<label>
									<input type="radio" name="size">
									<span>
										15\40 см
									</span>
								</label>
								<label>
									<input type="radio" name="size">
									<span>
										15\40 см
									</span>
								</label>
								<label>
									<input type="radio" name="size">
									<span>
										15\40 см
									</span>
								</label>
								<label>
									<input type="radio" name="size">
									<span>
										15\40 см
									</span>
								</label>
							</div>

							<div class="product__form-vars">
								<div class="old-price">2 250 ₽</div>
								<div class="now-price">1 250 ₽</div>
								{{> value/value}}
								<button class="buy">купить</button>
							</div>

							<div class="product__form-events">
								<a href="#" class="oneclick">Купить в один клик</a>
								<a href="#" class="podobrat">Подобрать кашпо</a>
								<div class="product__form-r">
									<a href="#" class="addtofav">
										{{Icon iconName="passion2"}}
									</a>
									<a href="#" class="addtocomp">
										{{Icon iconName="comparison"}}
									</a>
								</div>
							</div>
							<div class="product__form-desc">
								Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Обратите внимание, что декоративное кашпо, используемое на фотографиях, может быть не включено в стоимость товара!
							</div>
						</form>
					</div>

					<div class="aboutPage__adv">
						<div class="advantages__item">
							<div class="advantages__image">
								{{Icon iconName="flower"}}
							</div>
							<div class="advantages__text">
								Забота <span>о каждом растении</span> 
							</div>
						</div>
						<div class="advantages__item">
							<div class="advantages__image">
								{{Icon iconName="camera"}}
							</div>
							<div class="advantages__text">
								Фото цветов <span>перед отправкой</span> 
							</div>
						</div>
						<div class="advantages__item">
							<div class="advantages__image">
								{{Icon iconName="free"}}
							</div>
							<div class="advantages__text">
								Бесплатная доставка <span>при заказе от 3 500 рублей</span> 
							</div>
						</div>
						<div class="advantages__item">
							<div class="advantages__image">
								{{Icon iconName="letter"}}
							</div>
							<div class="advantages__text">
								Бесплатная записка к букету <span>по вашему желанию</span> 
							</div>
						</div>
					</div>

					<ul class="product__list">
						<li class="product__list-item active">
							Описание
						</li>
						<li class="product__list-item">
							Уход
						</li>
						<li class="product__list-item">
							Дополнительно
						</li>
						<li class="product__list-item">
							Доставка и оплата
						</li>
					</ul>

					<div class="product__tabs">
						<div class="product__tab desc__tab active"> <!-- Таб описание -->
							<p>Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Обратите внимание, что декоративное кашпо, используемое на фотографиях, может быть не включено в стоимость товара! Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Обратите внимание, что декоративное кашпо, используемое на фотографиях, может быть не включено в стоимость товара!</p>
							<p>Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Обратите внимание, что декоративное кашпо, используемое на фотографиях, может быть не включено в стоимость товара!</p>
						</div>
						<div class="product__tab care__tab"> <!-- Таб уход -->
							<div class="care__tab-item html">
								<div class="care__tab-head">
									<div class="care__tab-circle"></div>
									<div class="care__tab-title">
										<span>Полив:</span> умеренный
									</div>
								</div>
								<div class="care__tab-body">
									Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. 
								</div>
							</div>
							<div class="care__tab-item">
								<div class="care__tab-head">
									<div class="care__tab-circle"></div>
									<div class="care__tab-title">
										<span>Освещение:</span> прямой солнечный свет
									</div>
								</div>
								<div class="care__tab-body">
									Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. 
								</div>
							</div>
							<div class="care__tab-item">
								<div class="care__tab-head">
									<div class="care__tab-circle"></div>
									<div class="care__tab-title">
										<span>Влажность воздуха:</span> высокая
									</div>
								</div>
								<div class="care__tab-body">
									Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. 
								</div>
							</div>
						</div>
						<div class="product__tab html"> <!-- Таб дополнительно -->
							<ul>
								<li>Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе.</li>
								<li>Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе.</li>
							</ul>
						</div>
						<div class="product__tab"> <!-- Таб доставка и оплата -->
							
						</div>
					</div>


					<ul class="tovar__list">
						<li class="tovar__list-item active">С этим товаром покупают</li>
						<li class="tovar__list-item">Рекомендации</li>
					</ul>

					<div class="tovar__tabs">
						<div class="tovar__tab active"> <!-- Таб с этим товаром покупают -->
							<div class="swiper-container tovar-container">
								<div class="swiper-wrapper">
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
								</div>

								<div class="slider-btns">
									<div class="slider-btn slider-prev tovar-prev">
										{{Icon iconName="arrow"}}
									</div>
									<div class="slider-btn slider-next tovar-next">
										{{Icon iconName="arrow"}}
									</div>
								</div>
							</div>
						</div>
						<div class="tovar__tab">
							<div class="swiper-container tovar-container">
								<div class="swiper-wrapper">
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
									{{> card/card}}
								</div>
								
								<div class="slider-btns">
									<div class="slider-btn slider-prev tovar-prev">
										{{Icon iconName="arrow"}}
									</div>
									<div class="slider-btn slider-next tovar-next">
										{{Icon iconName="arrow"}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{> banner/about-banner }}
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>