<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	{{> bread/bread }} 

	<div class="result">
		<div class="wrapper">
			<div class="subtitle">
				Результаты поиска
			</div>
			<div class="result__msg">
				Найдено 35 товаров в трех категориях по запросу «<span>лилии</span>»
			</div>
			<div class="result__items">
				<div class="result__item">
					<h4>Растения</h4>
					<div class="cards">
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
					</div>
					<a href="#" class="show-all">показать еще 12 из 15</a>
				</div>

				<div class="result__item">
					<h4>Кашпо</h4>
					<div class="cards">
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
					</div>
				</div>

				<div class="result__item result__item2">
					<h4>Грунт</h4>
					<div class="cards">
						{{> card/card }}
						{{> card/card }}
						{{> card/card }}
					</div>
				</div>
				
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>