<div class="article">
	<div class="article-top">
		<div class="date">27.01.2020</div>
		<a href="#" class="article__title">Как выбрать цветы для солнечной стороны квартиры</a>
		<div class="article__desc">Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его ...</div>
	</div>
	<div class="article-bottom">
		<div class="article__img">
			<a href="#">
				<img src="%=static=%img/general/articles/5.png" alt="Статья">
			</a>
		</div>
		<div class="tags">
			<a href="#" class="tag">растения</a>
			<a href="#" class="tag">как ухаживать</a>
			<a href="#" class="tag">суккуленты</a>
			<a href="#" class="tag">декоративные</a>
		</div>
	</div>
</div>

<div class="article">
	<div class="article-top">
		<div class="date">27.01.2020</div>
		<a href="#" class="article__title">Правила ухода за орхидеями</a>
		<div class="article__desc">Закажите цветы онлайн, и наши флористы помогут вам выбрать лучший букет, красиво его упакуют, а служба доставки привезет его ...</div>
	</div>
	<div class="article-bottom">
		<div class="article__img">
			<a href="#">
				<img src="%=static=%img/general/articles/4.png" alt="Статья">
			</a>
		</div>
		<div class="tags">
			<a href="#" class="tag">орхидеи</a>
			<a href="#" class="tag">как ухаживать</a>
			<a href="#" class="tag">декоративные</a>
		</div>
	</div>
</div>