<div class="swiper-slide card">
	<div class="card-image">
		<a href="#">
			<img src="%=static=%img/general/card.png" alt="Товар">
		</a>
		<div class="fast">
			Быстрый просмотр
		</div>
		<div class="card-heat">
			Хит
		</div>
		<div class="card-discount">
			- 20%
		</div>
	</div>
	<div class="card-body">
		<a href="#" class="card-title">
			Лилии желтые
		</a>
		<div class="card-price">
			<div class="old-price">
				1 200 ₽
			</div>
			999 ₽
		</div>
		<div class="card-add">
			в корзину
		</div>
		<div class="card-events">
			<div class="card-buy">Купить в 1 клик</div>
			<div class="card--click">
				<div class="card-like"> <!-- .active для выделения -->
					{{Icon iconName="passion"}}
				</div>
				<div class="card-stat"> <!-- .active для выделения -->
					{{Icon iconName="comparison"}}
				</div>
			</div>
		</div>
	</div>
</div>