<footer class="footer">
	<div class="wrapper">
		<div class="footer__row">
			<div class="footer__col footer__col-one">
				<div class="footer__name">О Нас</div>
				<div class="footer__info">
					<a href="#" class="footer-link">Оплата</a>
					<a href="#" class="footer-link">Доставка</a>
					<a href="#" class="footer-link">Отзывы</a>
					<a href="#" class="footer-link">Контакты</a>
				</div>
			</div>
			<div class="footer__col footer__col-two">
				<div class="footer__name">Каталог</div>
				<div class="footer__info">
					<a href="#" class="footer-link">По алфавиту</a>
					<a href="#" class="footer-link">Растения</a>
					<a href="#" class="footer-link">Кашпо</a>
					<a href="#" class="footer-link">Композиции</a>
					<a href="#" class="footer-link">Сезонные</a>
					<a href="#" class="footer-link">Грунты и удобрения</a>
				</div>
			</div>
			<div class="footer__col footer__col-three">
				<div class="footer__name">Контакты</div>
				<div class="footer__info">
					<a href="tel:84957777777" class="footer-phone">
						{{Icon iconName="phone"}}
						8 (495) 777-77-77
					</a>
					<a href="tel:84957777777" class="footer-phone">
						{{Icon iconName="whatsapp"}}
						8 (495) 777-77-77
					</a>
					<a href="mailto:Info@azbukaflower.ru" class="footer-link">
						{{Icon iconName="envelope"}}
						Info@azbukaflower.ru
					</a>
					<span class="footer-span">
						{{Icon iconName="pin"}}
						<span>Москва, Чкаловская 17/5, стр.5, оф. 502</span>
					</span>
				</div>
			</div>
			<div class="footer__col footer__col-four">
				<div class="footer__name">Время работы</div>
				<div class="footer__info">
					<span class="footer-span">с 8:00 до 21:00</span>
					<div class="footer-text">
						<p>Сайт носит информационный характер и ни при каких условиях не является публичной офертой (ч. 2 ст. 437 ГК РФ).</p>
						<p>Для получения подробной информации о товарах, работах и услугах и ценах обращайтесь к нашим специалистам.</p>
					</div>
					<a href="#" class="footer-link mt24">Политика конфиденциальности</a>
				</div>
			</div>
			<div class="mobile--conf">
				<div class="footer-text">
					<p>Сайт носит информационный характер и ни при каких условиях не является публичной офертой (ч. 2 ст. 437 ГК РФ).</p>
					<p>Для получения подробной информации о товарах, работах и услугах и ценах обращайтесь к нашим специалистам.</p>
				</div>
				<a href="#" class="footer-link mt24">Политика конфиденциальности</a>
			</div>
			<div class="footer__col-five">
				<div class="footer-logo">
					<a href="/">
						<img src="%=static=%img/general/logo.png" alt="Главная">
					</a>
				</div>
				<div class="footer-block">
					<div class="footer-call">Оставайтесь на связи</div>
					<div class="footer__social">
						<a href="#" class="social-link">
							<img src="%=static=%img/general/inst.png" alt="inst">
						</a>
						<a href="#" class="social-link">
							<img src="%=static=%img/general/ws.png" alt="ws">
						</a>
						<a href="#" class="social-link">
							<img src="%=static=%img/general/fb.png" alt="fb">
						</a>
						<a href="#" class="social-link">
							<img src="%=static=%img/general/vk.png" alt="vk">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="leaf leaf-one">
		<img src="%=static=%/img/general/left-footer.png" alt="">
	</div>
	<div class="leaf leaf-two">
		<img src="%=static=%/img/general/right-footer.png" alt="">
	</div>
</footer>