<div class="overlay"></div>
<div class="popup popup__join">
	<div class="popup__header">
		<div class="popup__title">Вход</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>
	<div class="popup__body">
		<form action="" class="popup__form">
			<div class="popup__inputs">
				<div class="popup__div">
					<input type="text" class="popup__input" placeholder="Логин *">
				</div>
				<div class="popup__div">
					<input type="text" class="popup__input" placeholder="Пароль *">
				</div>
			</div>
			<div class="popup__alert">
				<span>*</span> — обязательно для заполнения
			</div>
			<div class="popup__btn">
				<button class="btn">войти</button>
			</div>
		</form>
	</div>
	<div class="popup__footer">
		<div class="popup__links">
			<a href="#" class="popup__link">Зарегистрироваться</a>
			<a href="#" class="popup__link">Напомнить пароль</a>
		</div>
	</div>
</div>

<div class="popup popup__register">
	<div class="popup__header">
		<div class="popup__title">Регистрация</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>
	<div class="popup__body">
		<form action="" class="popup__form">
			<div class="popup__inputs">
				<div class="popup__div">
					<input type="text" class="popup__input" placeholder="Ваше имя">
				</div>
				<div class="popup__div">
					<input type="text" class="popup__input" placeholder="E-mail *">
				</div>
				<div class="popup__div">
					<input type="text" class="popup__input" placeholder="Пароль *">
				</div>
				<div class="popup__div">
					<input type="text" class="popup__input" placeholder="Повторите пароль *">
				</div>
			</div>
			<div class="popup__alert">
				<div class="popup__conf">
					Нажимая кнопку «ЗАРЕГИСТРИРОВАТЬСЯ» вы принимаете <a href="#">политику конфиденциальности</a>
				</div>
				<span>*</span> — обязательно для заполнения
			</div>
			<div class="popup__btn">
				<button class="btn">зарегистрироваться</button>
			</div>
		</form>
	</div>
	<div class="popup__footer">
		<div class="popup__links">
			<a href="#" class="popup__link">У меня уже есть аккаунт</a>
		</div>
	</div>
</div>

<div class="popup popup__call">
	<div class="popup__header">
		<div class="popup__title">Заказ обратного звонка</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>
	<div class="popup__body">
		<div class="popup__subtitle">
			Заполните форму и мы свяжемся с вами в самое ближайшее время
		</div>
		<form action="" class="popup__form">
			<div class="popup__inputs">
				<div class="popup__div">
					<input type="text" class="popup__input" placeholder="Ваше имя">
				</div>
				<div class="popup__div">
					<input type="text" class="popup__input" placeholder="Телефон *">
				</div>
			</div>
			<div class="popup__alert">
				<div class="popup__conf">
					Нажимая кнопку ПЕРЕЗВОНИТЕ МНЕ вы принимаете <a href="#">политику конфиденциальности</a>
				</div>
				<span>*</span> — обязательно для заполнения
			</div>
			<div class="popup__btn">
				<button class="btn">перезвоните мне</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup__success">
	<div class="popup__header">
		<div class="popup__title">Вы успешно зарегистрировались!</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>
	<div class="popup__body">
		<div class="popup__txt">
			<p>На ваш e-mail было отправлено письмо с подтверждением.</p>
			<p>Желаем приятных покупок!</p>
		</div>
		<div class="popup__btn">
			<button class="btn">ок</button>
		</div>
	</div>
</div>

<div class="popup popup__callback">
	<div class="popup__header">
		<div class="popup__title">Заявка на обратный звонок принята</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>
	<div class="popup__body">
		<div class="popup__txt">
			<p>Наш менеджер свяжется с вами в самое ближайшее время</p>
		</div>
		<div class="popup__btn">
			<button class="btn">ок</button>
		</div>
	</div>
</div>

<div class="popup popup__size">
	<div class="popup__header">
		<div class="popup__title">Выберите размер</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>
	<div class="popup__body">
		<form action="" class="popup__form">
			<div class="product__form-labels">
				<label>
					<input type="radio" name="size" checked>
					<span>
						15\40 см
					</span>
				</label>
				<label>
					<input type="radio" name="size">
					<span>
						15\40 см
					</span>
				</label>
				<label>
					<input type="radio" name="size">
					<span>
						15\40 см
					</span>
				</label>
			</div>
			<div class="popup__btn">
				<button class="btn">выбрать</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup__phone">
	<div class="popup__header">
		<div class="popup__title">Введите название телефона</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>
	<div class="popup__body">
		<form action="" class="popup__form">
			<div class="popup__work">
				<input type="text" class="work__input">
			</div>
			<div class="popup__btn">
				<button class="btn">сохранить</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup__order">
	<div class="popup__header">
		<div class="popup__title">Ваш заказ принят!</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>
	<div class="popup__body">
		<div class="popup__txt">
			<p>Наш менеджер свяжется с вами в самое ближайшее время
			для обсуждения всех деталей</p>
		</div>
	</div>
	<div class="popup__footer">
		<div class="popup__number">
			<span>Номер вашего заказа</span>
			<p>12345678</p>
		</div>
	</div>

	<div class="popup__btn new-btn">
		<button class="btn">ок</button>
	</div>
</div>

<div class="popup popup__product">
	<div class="popup__header">
		<div class="popup__title">Дерево Бонсай</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>

	<div class="popup__body">
		<form action="" class="popup__form">
			<div class="popup__item">
				<div class="popup__item-image">
					<img src="%=static=%img/general/product/1.png" alt="Продукт">
				</div>
				<div class="popup__item-info">
					<div class="popup__item-price">
						<div class="old-price">
							2 250 ₽ 
						</div>
						<div class="now-price">
							1 250 ₽
						</div>
					</div>

					<div class="popup__item-divs">
						<div class="popup__item-div">
							<span class="popup__item-name">Размер</span>
							<select name="" id="" class="select">
								<option value="1">15/40 см</option>
								<option value="2">15/40 см</option>
								<option value="3">15/40 см</option>
								<option value="4">15/40 см</option>
							</select>
						</div>
						<div class="popup__item-div">
							<span class="popup__item-name">Количество</span>
							{{> value/value }}
						</div>
					</div>
				</div>	
			</div>

			<div class="popup__inputs">
				<input type="text" class="popup__input" placeholder="Ваше имя *">
				<input type="text" class="popup__input" placeholder="Телефон *">
			</div>

			<div class="popup__alert">
				<div class="popup__conf">
					Нажимая кнопку «КУПИТЬ» вы принимаете <a href="#">политику конфиденциальности</a>
				</div>
				<span>*</span> — обязательно для заполнения
			</div>
			<div class="popup__btn">
				<button class="btn">оформить заказ</button>
			</div>

		</form>
	</div>
</div>

<div class="popup popup__product2">
	<div class="popup__header">
		<div class="popup__title">Дерево Бонсай</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>

	<div class="popup__body">
		<form action="" class="popup__form">
			<div class="popup__item notbordered">
				<div class="product__images">
					<div class="product__big">
						<img src="%=static=%img/general/product/1.png" alt="Продукт">
					</div>
					<div class="product__thumbs">
						<div class="product__thumb active">
							<img src="%=static=%img/general/product/1.png" alt="Продукт">
						</div>
						<div class="product__thumb">
							<img src="%=static=%img/general/product/2.png" alt="Продукт">
						</div>
						<div class="product__thumb">
							<img src="%=static=%img/general/product/3.png" alt="Продукт">
						</div>
						<div class="product__thumb">
							<img src="%=static=%img/general/product/4.png" alt="Продукт">
						</div>
					</div>
				</div>
				<div class="popup__item-info">
					<div class="popup__item-price">
						<div class="old-price">
							2 250 ₽ 
						</div>
						<div class="now-price">
							1 250 ₽
						</div>
					</div>

					<div class="popup__item-divs bordered-div">
						<div class="popup__item-div">
							<span class="popup__item-name">Размер</span>
							<select name="" id="" class="select">
								<option value="1">15/40 см</option>
								<option value="2">15/40 см</option>
								<option value="3">15/40 см</option>
								<option value="4">15/40 см</option>
							</select>
						</div>
						<div class="popup__item-div">
							<span class="popup__item-name">Количество</span>
							{{> value/value }}
						</div>
					</div>
					<div class="popup__item-lists">
						<div class="care__tab-item">
							<div class="care__tab-head">
								<div class="care__tab-circle"></div>
								<div class="care__tab-title">
									<span>Полив:</span> умеренный
								</div>
							</div>
						</div>
						<div class="care__tab-item">
							<div class="care__tab-head">
								<div class="care__tab-circle"></div>
								<div class="care__tab-title">
									<span>Освещение:</span> прямой солнечный свет
								</div>
							</div>
						</div>
						<div class="care__tab-item">
							<div class="care__tab-head">
								<div class="care__tab-circle"></div>
								<div class="care__tab-title">
									<span>Влажность воздуха:</span> высокая
								</div>
							</div>
						</div>
						<div class="care__tab-item">
							<div class="care__tab-head">
								<div class="care__tab-circle"></div>
								<div class="care__tab-title">
									<span>Освещение:</span> прямой солнечный свет
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>



			<div class="popup__txt">
				<p>Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Обратите внимание, что декоративное кашпо, используемое на фотографиях, может быть не включено в стоимость товара!</p>
			</div>

			<div class="popup__btns">
				<button class="btn">оформить заказ</button>
				<a href="#" class="oneclick">Купить в один клик</a>
			</div>

		</form>
	</div>
</div>

<div class="popup popup__product3">
	<div class="popup__header">
		<div class="popup__title">Дерево Бонсай</div>
		<div class="popup__close">
			{{Icon iconName="close"}}
		</div>
	</div>

	<div class="popup__body">
		<form action="" class="popup__form">
			<div class="popup__item notbordered">
				<div class="product__images">
					<div class="product__big">
						<img src="%=static=%img/general/product/1.png" alt="Продукт">
					</div>
					<div class="product__thumbs">
						<div class="product__thumb active">
							<img src="%=static=%img/general/product/1.png" alt="Продукт">
						</div>
						<div class="product__thumb">
							<img src="%=static=%img/general/product/2.png" alt="Продукт">
						</div>
						<div class="product__thumb">
							<img src="%=static=%img/general/product/3.png" alt="Продукт">
						</div>
						<div class="product__thumb">
							<img src="%=static=%img/general/product/4.png" alt="Продукт">
						</div>
					</div>
				</div>
				<div class="popup__item-info">
					<div class="popup__item-price">
						<div class="old-price">
							2 250 ₽ 
						</div>
						<div class="now-price">
							1 250 ₽
						</div>
					</div>

					<div class="popup__item-divs bordered-div">
						<div class="popup__item-div">
							<span class="popup__item-name">Размер</span>
							<select name="" id="" class="select">
								<option value="1">15/40 см</option>
								<option value="2">15/40 см</option>
								<option value="3">15/40 см</option>
								<option value="4">15/40 см</option>
							</select>
						</div>
						<div class="popup__item-div">
							<span class="popup__item-name">Количество</span>
							{{> value/value }}
						</div>
					</div>
					<div class="popup__item-lists">
						<div class="care__tab-item">
							<div class="care__tab-head">
								<div class="care__tab-circle"></div>
								<div class="care__tab-title">
									<span>Полив:</span> умеренный
								</div>
							</div>
						</div>
						<div class="care__tab-item">
							<div class="care__tab-head">
								<div class="care__tab-circle"></div>
								<div class="care__tab-title">
									<span>Освещение:</span> прямой солнечный свет
								</div>
							</div>
						</div>
						<div class="care__tab-item">
							<div class="care__tab-head">
								<div class="care__tab-circle"></div>
								<div class="care__tab-title">
									<span>Влажность воздуха:</span> высокая
								</div>
							</div>
						</div>
						<div class="care__tab-item">
							<div class="care__tab-head">
								<div class="care__tab-circle"></div>
								<div class="care__tab-title">
									<span>Освещение:</span> прямой солнечный свет
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>



			<div class="popup__txt">
				<p>Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Гартения эффективно очищает воздух в помещении, уничтожая болезнетворные микробы и бактерии. Гартения дарит своему владельцу личное и семейное счастье, гармонию и уверенность в себе. Обратите внимание, что декоративное кашпо, используемое на фотографиях, может быть не включено в стоимость товара!</p>
			</div>

			<div class="popup__inputs">
				<input type="text" class="popup__input" placeholder="Ваше имя *">
				<input type="text" class="popup__input" placeholder="Телефон *">
				<button class="btn">оформить заказ</button>
			</div>

			<div class="popup__alert">
				<div class="popup__conf">
					Нажимая кнопку «КУПИТЬ» вы принимаете <a href="#">политику конфиденциальности</a>
				</div>
				<span>*</span> — обязательно для заполнения
			</div>

		</form>
	</div>
</div>