<div class="header__top">
	<div class="header__burger">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="header__logo">
		<div class="logo">
			<a href="/">
				<img src="%=static=%img/general/logo.png" alt="Главная">
			</a>
		</div>
		<div class="m-logo">
			<a href="/" class="m-logo-full">
				<img src="%=static=%img/general/logo.png" alt="Главная">
			</a>
			<a href="/" class="m-logo-small">
				<img src="%=static=%img/general/logo-m.png" alt="Главная">
			</a>
		</div>	
	</div>
	<nav class="nav">
		<a href="#" class="nav-link">О нас</a>
		<a href="#" class="nav-link">Статьи</a>
		<a href="#" class="nav-link">Оплата</a>
		<a href="#" class="nav-link">Контакты</a>
		<span class="nav-link">
			<span class="nav-parent">
				Сервис
				{{Icon iconName="d-arr"}}
			</span>
			<ul class="nav-list">
				<li class="nav-item">
					<a href="#">Доставка</a>
				</li>
				<li class="nav-item">
					<a href="#">Пересадка растений</a>
				</li>
				<li class="nav-item">
					<a href="#">Обслуживание</a>
				</li>
			</ul>
		</span>
	</nav>
	<div class="links">
		<a href="#" class="link">
			{{Icon iconName="instagram"}}
			Мы в Instagram 
		</a>
		<a href="#" class="link">
			{{Icon iconName="envelope"}}
			Info@azbukaflower.ru
		</a>
		<a href="#" class="link">
			{{Icon iconName="enter"}}
			Войти 
		</a>
	</div>
	<div class="mobile-menu-search">
		{{Icon iconName="loop"}}
	</div>
	<div class="events">
		<a href="#" class="event">
			{{Icon iconName="comparison"}}
			<span class="circle">
				0
			</span>
		</a>
		<a href="#" class="event">
			{{Icon iconName="passion2"}}
			<span class="circle">
				5
			</span>
		</a>
		<a href="#" class="event">
			{{Icon iconName="basket"}}
			<span class="circle">
				15
			</span>
		</a>
	</div>
</div>

<div class="toggleMenu">
	<div class="toggleMenu__head">
		<div class="header__phone header__phone-two">
			<a href="tel:84957777777" class="phone">
				{{Icon iconName="phone"}}
				8 (495) 777-77-77
			</a>
			<div class="call">Заказать звонок</div>
		</div>
		<div class="header__phone header__phone-one">
			<a href="tel:84957777777" class="phone">
				{{Icon iconName="whatsapp"}}
				8 (495) 777-77-77
			</a>
			<span class="graph">
				Ежедневно с 8:00 до 21:00
			</span>
		</div>
	</div>

	<div class="toggleMenu__nav">
		<div class="menu-item">
			<span>
				По алфавиту
				{{Icon iconName="arrow-down"}}
			</span>
			<div class="hidden-menu">
				<div class="back-to-nav">
					Назад
					{{Icon iconName="arrow-down"}}
				</div>
				<div class="alphabet">
					<div class="alphabet-item">
						<div class="letter">А</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
							<a href="#" class="alphabet-link">Бегония</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">Б</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">В</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">Г</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
							<a href="#" class="alphabet-link">Бегония</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">Д</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
							<a href="#" class="alphabet-link">Бегония</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">Е</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">И</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
							<a href="#" class="alphabet-link">Бегония</a>
						</div>
					</div>


					<div class="alphabet-item">
						<div class="letter">К</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
							<a href="#" class="alphabet-link">Бегония</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">М</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">Н</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">Р</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
							<a href="#" class="alphabet-link">Бегония</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">С</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
							<a href="#" class="alphabet-link">Бегония</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">Т</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
						</div>
					</div>
					<div class="alphabet-item">
						<div class="letter">Ч</div>
						<div class="alphabet-links">
							<a href="#" class="alphabet-link">Кактус</a>
							<a href="#" class="alphabet-link">Амариллис</a>
							<a href="#" class="alphabet-link">Аспарагус</a>
							<a href="#" class="alphabet-link">Азалия</a>
							<a href="#" class="alphabet-link">Герань</a>
							<a href="#" class="alphabet-link">Бегония</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<span>
				Растения
				{{Icon iconName="arrow-down"}}
			</span>
			<div class="hidden-menu">
				<div class="back-to-nav">
					Назад
					{{Icon iconName="arrow-down"}}
				</div>
				<div class="elems">
					<div class="elem">
						<a href="catalog.html" class="elem-name">Декоративно-лиственные</a>
						<div class="elem-items">
							<a href="#" class="elem-link">Кактус</a>
							<a href="#" class="elem-link">Амариллис</a>
							<a href="#" class="elem-link">Аспарагус</a>
							<a href="#" class="elem-link">Азалия</a>
							<a href="#" class="elem-link">Герань</a>
							<a href="#" class="elem-link">Бегония</a>
							<a href="#" class="elem-link">Бальзамин</a>
							<a href="#" class="elem-link">Гортензия</a>
							<a href="#" class="elem-link">Фиалка</a>
						</div>
					</div>
					<div class="elem">
						<a href="catalog.html" class="elem-name">Цветущие</a>
						<div class="elem-items">
							<a href="#" class="elem-link">Кактус</a>
							<a href="#" class="elem-link">Амариллис</a>
							<a href="#" class="elem-link">Аспарагус</a>
							<a href="#" class="elem-link">Азалия</a>
							<a href="#" class="elem-link">Герань</a>
							<a href="#" class="elem-link">Бегония</a>
							<a href="#" class="elem-link">Бальзамин</a>
							<a href="#" class="elem-link">Гортензия</a>
							<a href="#" class="elem-link">Фиалка</a>
						</div>
					</div>
					<div class="elem">
						<a href="catalog.html" class="elem-name">Орхидеи</a>
						<div class="elem-items">
							<a href="#" class="elem-link">Кактус</a>
							<a href="#" class="elem-link">Амариллис</a>
							<a href="#" class="elem-link">Аспарагус</a>
							<a href="#" class="elem-link">Азалия</a>
							<a href="#" class="elem-link">Герань</a>
							<a href="#" class="elem-link">Бегония</a>
						</div>
					</div>
					<div class="elem">
						<a href="catalog.html" class="elem-name">Кактусы и суккуленты</a>
						<div class="elem-items">
							<a href="#" class="elem-link">Кактус</a>
							<a href="#" class="elem-link">Амариллис</a>
							<a href="#" class="elem-link">Аспарагус</a>
							<a href="#" class="elem-link">Азалия</a>
						</div>
					</div>
					<div class="elem">
						<a href="catalog.html" class="elem-name">Цитрусовые и плодовые</a>
						<div class="elem-items">
							<a href="#" class="elem-link">Кактус</a>
							<a href="#" class="elem-link">Амариллис</a>
							<a href="#" class="elem-link">Аспарагус</a>
							<a href="#" class="elem-link">Азалия</a>
							<a href="#" class="elem-link">Герань</a>
							<a href="#" class="elem-link">Бегония</a>
							<a href="#" class="elem-link">Бальзамин</a>
							<a href="#" class="elem-link">Гортензия</a>
							<a href="#" class="elem-link">Фиалка</a>
						</div>
					</div>
					<div class="elem">
						<a href="catalog.html" class="elem-name">Пальмы</a>
						<div class="elem-items">
							<a href="#" class="elem-link">Кактус</a>
							<a href="#" class="elem-link">Амариллис</a>
							<a href="#" class="elem-link">Аспарагус</a>
							<a href="#" class="elem-link">Азалия</a>
							<a href="#" class="elem-link">Герань</a>
							<a href="#" class="elem-link">Бегония</a>
							<a href="#" class="elem-link">Бальзамин</a>
						</div>
					</div>
					<div class="elem">
						<a href="#" class="elem-name">Крупномеры</a>
						<div class="elem-items">
							<a href="#" class="elem-link">Кактус</a>
							<a href="#" class="elem-link">Амариллис</a>
							<a href="#" class="elem-link">Аспарагус</a>
							<a href="#" class="elem-link">Азалия</a>
							<a href="#" class="elem-link">Герань</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<span>
				Кашпо
				{{Icon iconName="arrow-down"}}
			</span>
		</div>
		<div class="menu-item">
			<span>
				Композиция
				{{Icon iconName="arrow-down"}}
			</span>
		</div>
		<div class="menu-item">
			<span>
				Сезонные
				{{Icon iconName="arrow-down"}}
			</span>
		</div>
		<div class="menu-item">
			<span>
				Грунты и удобрения
				{{Icon iconName="arrow-down"}}
			</span>
		</div>

		<div class="toggleMenu__subnav">
			<nav class="nav">
				<a href="#" class="nav-link">О нас</a>
				<a href="#" class="nav-link">Статьи</a>
				<a href="#" class="nav-link">Оплата</a>
				<a href="#" class="nav-link">Контакты</a>
				<span class="nav-link ">
					<span class="nav-parent">
						Сервис
						{{Icon iconName="d-arr"}}
					</span>
					<ul class="nav-list">
						<li class="nav-item">
							<a href="#">Доставка</a>
						</li>
						<li class="nav-item">
							<a href="#">Пересадка растений</a>
						</li>
						<li class="nav-item">
							<a href="#">Обслуживание</a>
						</li>
					</ul>
				</span>
			</nav>
		</div>

		<div class="toggleMenu__social">
			<a href="#" class="toggleMenu__slink">
				{{Icon iconName="instagram"}}
				<span>Мы в Instagram</span>
			</a>
			<a href="#" class="toggleMenu__slink">
				{{Icon iconName="envelope"}}
				<span>Info@azbukaflower.ru</span>
			</a>
			<a href="#" class="toggleMenu__slink">
				{{Icon iconName="enter"}}
				<span>Войти</span>
			</a>
		</div>
	</div>
</div>