<div class="header__center">
	<div class="logo">
		<a href="/">
			<img src="%=static=%img/general/logo.png" alt="Главная">
		</a>
	</div>
	<div class="header__form">
		<form action="" class="form">
			<div class="search-select">
				<select name="" class="select">
					<option value="1">Везде</option>
					<option value="2">Растения</option>
					<option value="3">Кашпо</option>
					<option value="3">Грунты и удобрения</option>
				</select>
			</div>
			<input type="text" placeholder="Введите название растения" class="search-input">
			<button class="search-btn">
				{{Icon iconName="loop"}}
			</button>
		</form>
	</div>
	<div class="header__phone header__phone-one">
		<a href="tel:84957777777" class="phone">
			{{Icon iconName="phone"}}
			8 (495) 777-77-77
		</a>
		<span class="graph">
			Ежедневно с 8:00 до 21:00
		</span>
	</div>
	<div class="header__phone header__phone-two">
		<a href="tel:84957777777" class="phone">
			{{Icon iconName="whatsapp"}}
			8 (495) 777-77-77
		</a>
		<div class="call">Заказать звонок</div>
	</div>
</div>