<header class="header">
	<div class="wrapper">
		{{> header/header-top }}
		{{> header/header-center }}
	</div>

	{{> header/header-bottom }}
</header>


<div class="fixed-header">
	<div class="wrapper">
		<div class="fixed-row">
			<div class="fixed-logo">
				<a href="/">
					<img src="%=static=%img/general/logo.png" alt="Главная">
				</a>
			</div>
			<div class="fixed-nav"></div>
			<div class="fixed-events">
				<div class="events">
					<a href="#" class="event">
						{{Icon iconName="comparison"}}
						<span class="circle">
							0
						</span>
					</a>
					<a href="#" class="event">
						{{Icon iconName="passion2"}}
						<span class="circle">
							5
						</span>
					</a>
					<a href="#" class="event">
						{{Icon iconName="basket"}}
						<span class="circle">
							15
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>