<div class="banner">
	<div class="banner__images">
		<div class="banner__image">
			<iframe src="https://instagram.com/p/last_post/embed/" frameborder="0" scrolling="no" allowtransparency="true">
			</iframe>
		</div>
		<a href="#" class="banner__image">
			<img src="%=static=%img/general/banner-1.png" alt="banner">
			<span class="banner--text">
				Бесплатная записка к букету (При заказе от N суммы)
			</span>
		</a>
		<a href="#" class="banner__image">
			<img src="%=static=%img/general/banner-2.png" alt="banner">
			<span class="banner--text">
				Пересадим в теплице при покупке с кашпо
			</span>
		</a>
	</div>
	<div class="banner__item">
		<div class="banner__title">
			Статьи
			<a href="#" class="banner-link">Все статьи
				{{Icon iconName="arr-r"}}
			</a>
		</div>
		<div class="line"></div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Что полезно и интересно знать о суккулетах</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Как ухаживать за кактусами</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Что полезно и интересно знать о суккулетах</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Как ухаживать за кактусами</a>
		</div>
	</div>

	<div class="banner__item">
		<div class="banner__title">
			Новости
			<a href="#" class="banner-link">Все новости
				{{Icon iconName="arr-r"}}
			</a>
		</div>
		<div class="line"></div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Что полезно и интересно знать о суккулетах</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Как ухаживать за кактусами</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Что полезно и интересно знать о суккулетах</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Как ухаживать за кактусами</a>
		</div>
	</div>
</div>