<div class="banner">
	<div class="banner__item">
		<div class="banner__title">
			Популярные теги
		</div>
		<div class="line"></div>
		<div class="tags">
			<a href="#" class="tag">растения</a>
			<a href="#" class="tag">как ухаживать</a>
			<a href="#" class="tag">суккуленты</a>
			<a href="#" class="tag">декоративные</a>
			<a href="#" class="tag">орхидеи</a>
			<a href="#" class="tag">как ухаживать</a>
			<a href="#" class="tag">растения</a>
			<a href="#" class="tag">как ухаживать</a>
			<a href="#" class="tag">суккуленты</a>
			<a href="#" class="tag">декоративные</a>
			<a href="#" class="tag">орхидеи</a>
			<a href="#" class="tag">как ухаживать</a>
			<a href="#" class="tag">растения</a>
			<a href="#" class="tag">орхидеи</a>
			<a href="#" class="tag">суккуленты</a>
			<a href="#" class="tag">декоративные</a>
		</div>
	</div>
	<div class="banner__item">
		<div class="banner__title">
			Популярные новости
		</div>
		<div class="line"></div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Что полезно и интересно знать о суккулетах</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Как ухаживать за кактусами</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Что полезно и интересно знать о суккулетах</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Как ухаживать за кактусами</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Что полезно и интересно знать о суккулетах</a>
		</div>
		<div class="banner__new">
			<div class="date">27.01.2020</div>
			<a href="#" class="new-link">Как ухаживать за кактусами</a>
		</div>
	</div>
</div>