/* Fonts variables */
.reg() {
    font-family: 'SourceSansPro-regular', sans-serif;
}

.bold() {
    font-family: 'SourceSansPro-bold', sans-serif;
}

/* Color variables */
@lv: #a372ce; /* светло-фиолетовый */
@dv: #8751b6; /* темно-фиолетовый */
@dark: #000000; /* Черный */
@light: #FFFFFF; /* Белый */