<div class="pag">
	<div class="wrapper">
		<div class="pag__items">
			<a href="#" class="pag-arr pag__prev disabled">
				{{Icon iconName="forward"}}
			</a>
			<a href="#" class="pag__item active">1</a>
			<a href="#" class="pag__item">2</a>
			<a href="#" class="pag__item">3</a>
			<a href="#" class="pag__item">4</a>
			<a href="#" class="pag__item">5</a>
			<a href="#" class="pag-arr pag__next">
				{{Icon iconName="forward"}}
			</a>
		</div>
	</div>
</div>